<div>
    <button mat-icon-button>Icon</button>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>Mini Fab</button>
</div>

<div class="">
    <mat-button-toggle #toggleBtn checked disabledRipple disabled>Toggle {{toggleBtn.checked}}</mat-button-toggle>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div>
<div>
    <mat-icon color="primary">grade</mat-icon>
    <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <p><span [matBadge]="notification" [matBadgeHidden]="notification ===0" matBadgeColor="primary" matBadgeSize="small" matBadgeOverlap="false">Notification</span></p>
    <p><span matBadge="4" matBadgeColor="accent" matBadgeSize="medium" matBadgeOverlap="false" matBadgePosition="below before">Notification</span></p>
    <p><span matBadge="4" matBadgeColor="warn" matBadgeSize="large" matBadgeOverlap="false" matBadgePosition="below after">Notification</span></p> 
    <p><span matBadge="4" matBadgeOverlap="false" matBadgePosition="above before">Notification</span></p>
    <p>
        Button with a badge on the left
        <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">Action</button>
    </p>
    <p>
        Icon with a badge
        <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
        <span class="cdk-visually-hidden">Example with a home icon with overlaid badge showing the number 15</span>
    </p>
</div>